.mainButton{
    display: block;
    font-size: 20px;
    width: 10%;
    height: 20%;
    background-color: aquamarine
}
.titol{
    display: block;
    font-size: 40px;
}
body{
    background-color: aliceblue;
}