.button-menu { 
    width: 300px;
    height: 75px;
    font-size: 16px;
    font-family: cursive;
}
#buttonPi2 {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}
#buttonPi3 {
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
}
.button-menu:active {
    font-size: 18px;
    width: 275px;
    height: 70px;
}

.button-menu:hover:not(:active) {
    font-size: 22px;
    width: 325px;
    height: 85px;
    background-color: aquamarine;
}
.titol {
    display: block;
    font-size: 40px;
    grid-column: 2;
    grid-row: 1;
    text-align:center;
    font-style: italic;
    font-family: cursive;
}
body {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-gap: 20px;
}